<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NOVA</title>
		<meta charset="utf8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Slicebox - 3D Image Slider with Fallback" />
        <meta name="keywords" content="jquery, css3, 3d, webkit, fallback, slider, css3, 3d transforms, slices, rotate, box, automatic" />
		<meta name="author" content="Pedro Botelho for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/slicebox.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
	</head>
	<body>
		<div class="container">
			<h1>Nova <span>Welcome to Nova Studio</span></h1>

			<p class="info"><a href="http://www.miitbeian.gov.cn/" target="_blank"> 苏ICP备16016855 </a></p>
			<p class="info"><strong>Email:</strong> nova@nju.edu.cn</p>

		</div>
	</body>
</html>	